
<section id="client">
    <img src='../../../assets/img/ourclients.png'>
    <div class="container">
        <div class="section-content" data-aos="fade-up">
            <div class="row ">
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="title-wrap mb-5">
                    </div>
                    <!-- End of Section Title -->
                </div>
                <!-- Client Holder -->
                <div class="col-md-12 client-holder">
                    <div class="client-slider owl-carousel">
                        <div class="client-item">
                            <img class="img-responsive" src="../../../assets/img/client1.png" alt=" ">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" src="../../../assets/img/client2.png" alt=" ">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" src="../../../assets/img/client3.png" alt=" ">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" src="../../../assets/img/client5.png" alt=" ">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" src="../../../assets/img/client4.png" alt=" ">
                        </div>
                        <div class="client-item">
                            <img class="img-responsive" src="../../../assets/img/client.png" alt=" ">
                        </div>
                    </div>
                    <!-- End of Client Holder -->
                </div>
            </div>
        </div>
  </div>
  </section>
