<section  style="background-image: url(&quot;assets/img/bg-white.jpg&quot;);">
    <div class="container">
        <div class="section-content aos-init aos-animate">
            <div class="heading-section text-center">
                <img src="../../../assets/team.png">
            </div>
          
            <div class="team">
                <div class="member"><img src="../../../assets/Team/chaima.JPG" class="rounded-circle" ><p>Chaima Akkari</p></div>
                <div class="member"><img src="../../../assets/Team/maryem.JPG" class="rounded-circle" ><p>Maryem El Ajlani</p></div>
                 <div class="member"><img src="../../../assets/Team/youssef.png" class="rounded-circle" ><p>Youssef Jerbi</p></div>
                 <div class="member"><img src="../../../assets/Team/amine.png" class="rounded-circle" ><p>Amine Haj Ali</p></div>
            </div>
        </div>
    </div>
</section>