<section id="cta" class="bg-fixed overlay" style="background-image: url(&quot;assets/img/bg.jpg&quot;); background-position: 0% 10.5275px;" data-stellar-background-ratio="0.8">
    <div class="container">
        <div class="section-content aos-init aos-animate" data-aos="fade-up">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mb-2">Made with love <i class="fas fa-heart"></i></h2>
                    <p>Saharni <i class="far fa-copyright"></i> All Copyrights reserved 2022</p>
                </div>
            </div>
        </div>
    </div>
</section>