<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
           
        </div>

        <ul class="list-unstyled components">
            <p class="name">My Profile</p>
            <li >
         <a href="#homeSubmenu" class="item"> <i class="fa fa-user"></i> Profile</a>
            </li>
            <li>
                <a href="#" class="item"><i class="fa fa-newspaper"></i> Feed</a>
            </li>
            <li class="list-unstyled">
                <a href="#" class="item"><i class="fas fa-ticket-alt"></i> Reservations</a>
            </li>
            <li class="list-unstyled">
                <a href="#" class="item"><i class="fa fa-sign-out-alt"></i> Log out</a>
            </li>
        </ul>
    </nav>
<router-outlet></router-outlet>
</div>