<section id="portfolio" class="bg-white">
    <div class="container">
        <div class="section-content">
            <!-- Section Title -->
            <div class="title-wrap">
                <h2 class="section-title">Our Services Include :</h2>
            </div>
            <!-- End of Section Title -->
            <div class="service">
                <div class="item">
                <p>Local band activity follow </p></div>
                <div class="item">
                <p>Detailed restaurent event schedule</p>
                </div>
                <div class="item"> 
                  <p> Tables reservations for your favourite shows </p>
                </div>
            </div>
        </div>
    </div>
</section>
