<section class="pres" [@slideInOut]>
    <img src='../../../assets/about.png'>
    <div><p>Saharni is the perfect gateway for <span>Sahara</span> to find their perfect haven to spend their week-ends and days off in the most suitable way.
      Our services also include a single space for all bars and cafés to announce their events and parties as well as :
    </p></div>
</section>
<section id="features" [@slideInOut]>
      <div class="card">
        <img src="../../../assets/img/party.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Party Reservation</h5>
          <p class="card-text">Make sure you have your spot reserved during your favourite band performance. </p>
         
        </div>
      </div>
      <div class="card" >
        <img src="../../../assets/review.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Review Your Experience</h5>
          <p class="card-text">Let your friends and other party enthusiasts know about your experience</p>
          
        </div>
      </div>
      <div class="card" >
        <img src="../../../assets/band.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Band Follow Up</h5>
          <p class="card-text">Keep track of your favourite local bands and their schedules so never miss their performances.</p>
          
        </div>
      </div>
</section>


<section  class="pres">
  <img src='../../../assets/fact.png'>
</section>

