.service{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    padding-top: 4%;
    padding-bottom:2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card{
margin-right:2% ;
margin-left: 2%;
border-radius: 20px;
width: 400px;
}
.card img{
    border-radius: 20px 20px 0px 0px;
}
H5{
    color: rgb(138, 11, 170);
    font-weight: bold;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-body p{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 span{
    color: rgb(218, 40, 194);
    font-weight: bold;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 2%;
}
.fact{
    background: linear-gradient(rgba(255, 255, 255, 0.952), rgba(12, 2, 20, 0.5)), url("../../../assets/wall.jpg");
    background-size:cover;
}
.pres{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pres div{
    width: 70%;
}
.pres div p{ 
    padding-top: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}
#features{
    padding-top: 2%;
    padding-bottom: 5%;
}
.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.counter p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}
.num{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
}
.counter span{
font-size: 80px;
color: rgb(105, 14, 126);
font-weight: bold;
}