.service{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 20%;
}
.item{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.item p{
    font-size: 21px;
}