<div class="row">
        <article class="card fl-left">
      <section class="date">
        <time datetime="23th feb">
          <span>23</span><span>feb</span>
        </time>
      </section>
      <section class="card-cont">
        <small>dj music event</small>
        <h2>live in sydney</h2>
        <div class="row">
            <div class="even-date col-10">
            <i class="fa fa-calendar"></i>
            <time>
            <span>wednesday 28 december 2014</span>
            <span>08:55pm to 12:00 am</span>
            </time>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="even-info col-10">
            <i class="fa fa-map-marker"></i>
            <p>
                nexen square for people australia, sydney
            </p>
            </div>
            <a class="ticket col-2" href="#">tickets</a>
        </div>
      </section>
        </article>
        <article class="card fl-left">
        <section class="date">
          <time datetime="23th feb">
            <span>23</span><span>feb</span>
          </time>
        </section>
        <section class="card-cont">
          <small>dj music event</small>
          <h2>live in sydney</h2>
          <div class="row">
              <div class="even-date col-10">
              <i class="fa fa-calendar"></i>
              <time>
              <span>wednesday 28 december 2014</span>
              <span>08:55pm to 12:00 am</span>
              </time>
              </div>
              <div class="col-2"></div>
          </div>
          <div class="row">
              <div class="even-info col-10">
              <i class="fa fa-map-marker"></i>
              <p>
                  nexen square for people australia, sydney
              </p>
              </div>
              <a class="SoldOut col-2" href="#">Sold out</a>
          </div>
        </section>
        </article>
</div>
<div class="row">
      <article class="card fl-left">
        <section class="date">
          <time datetime="23th feb">
            <span>23</span><span>feb</span>
          </time>
        </section>
        <section class="card-cont">
          <small>dj music event</small>
          <h2>live in sydney</h2>
          <div class="row">
              <div class="even-date col-10">
              <i class="fa fa-calendar"></i>
              <time>
              <span>wednesday 28 december 2014</span>
              <span>08:55pm to 12:00 am</span>
              </time>
              </div>
              <div class="col-2"></div>
          </div>
          <div class="row">
              <div class="even-info col-10">
              <i class="fa fa-map-marker"></i>
              <p>
                  nexen square for people australia, sydney
              </p>
              </div>
              <a class="Cancel col-2" href="#">Cancel</a>
          </div>
        </section>
      </article>
      <article class="card fl-left">
        <section class="date">
          <time datetime="23th feb">
            <span>23</span><span>feb</span>
          </time>
        </section>
        <section class="card-cont">
          <small>dj music event</small>
          <h2>live in sydney</h2>
          <div class="row">
              <div class="even-date col-10">
              <i class="fa fa-calendar"></i>
              <time>
              <span>wednesday 28 december 2014</span>
              <span>08:55pm to 12:00 am</span>
              </time>
              </div>
              <div class="col-2"></div>
          </div>
          <div class="row">
              <div class="even-info col-10">
              <i class="fa fa-map-marker"></i>
              <p>
                  nexen square for people australia, sydney
              </p>
              </div>
              <a class="ticket col-2" href="#">tickets</a>
          </div>
        </section>
      </article>
</div>   