
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
           
        </div>

        <ul class="list-unstyled components">
            <p class="name">{{user.firstName}} {{user.lastName}}</p>
            <li class="active">
                <a href="#homeSubmenu">Profile</a>
            </li>
            <li>
                <a href="#">Feed</a>
            </li>
            <li class="list-unstyled">
                <a href="#">Reservations</a>
            </li>
            <li class="list-unstyled">
                <a href="#">Log out</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
            </div>
        </nav>
        <div class="col-sm-8">
            <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Email</p>
                        <h6 class="text-muted f-w-400">{{user.email}}</h6>
                    </div>
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">First Name</p>
                        <h6 class="text-muted f-w-400">{{user.firstName}}</h6>
                    </div>
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Last name</p>
                        <h6 class="text-muted f-w-400">{{user.lastName}}</h6>
                    </div>
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Account created at</p>
                        <h6 class="text-muted f-w-400">{{user.createdAt | date: 'short'}}</h6>
                    </div>
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Account recently modified at</p>
                        <h6 class="text-muted f-w-400">{{user.updatedAt | date: 'short'}}</h6>
                    </div>
                </div>
                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Recent Parties</h6>
                <!-- <div class="row" *ngFor="let reservation of user.lastReservations">
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">{{reservation.bar}}</p>
                        <h6 class="text-muted f-w-400">{{reservation.date}}</h6>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>