<div class="container">
    <!-- Page Content  -->
    <div id="content" class="m-5">
        <div class="col-sm-12">
            <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Email</p>
                        <h6 class="text-muted f-w-400">{{user.email}}</h6>
                    </div>
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">First Name</p>
                        <h6 class="text-muted f-w-400">{{user.firstName}}</h6>
                    </div>
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Last name</p>
                        <h6 class="text-muted f-w-400">{{user.lastName}}</h6>
                    </div>
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Account created at</p>
                        <h6 class="text-muted f-w-400">{{user.createdAt | date: 'short'}}</h6>
                    </div>
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Account recently modified at</p>
                        <h6 class="text-muted f-w-400">{{user.updatedAt | date: 'short'}}</h6>
                    </div>
                </div>
                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Recent Parties</h6>
                 <div class="row">
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Cockail party</p>
                        <h6 class="text-muted f-w-400">Date : 22 Jan 2022, Place : JOBI</h6>
                    </div>
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Garden party</p>
                        <h6 class="text-muted f-w-400">Date : 15 Jan 2022, Place : Yuka</h6>
                    </div>
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">DJ music event</p>
                        <h6 class="text-muted f-w-400">Date : 03 Dec 2021, Place : Underground </h6>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>