
    <!-- Page Content  -->
    <div id="content">
        <div class="col-sm-8">
            <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Email</p>
                        <h6 class="text-muted f-w-400">{{user.email}}</h6>
                    </div>
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">First Name</p>
                        <h6 class="text-muted f-w-400">{{user.firstName}}</h6>
                    </div>
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Last name</p>
                        <h6 class="text-muted f-w-400">{{user.lastName}}</h6>
                    </div>
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Account created at</p>
                        <h6 class="text-muted f-w-400">{{user.createdAt | date: 'short'}}</h6>
                    </div>
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Account recently modified at</p>
                        <h6 class="text-muted f-w-400">{{user.updatedAt | date: 'short'}}</h6>
                    </div>
                </div>
                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Recent Parties</h6>
                <!-- <div class="row" *ngFor="let reservation of user.lastReservations">
                    <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">{{reservation.bar}}</p>
                        <h6 class="text-muted f-w-400">{{reservation.date}}</h6>
                    </div>
                </div> -->
            </div>
        </div>
    </div>