
<div class="container text-center title">
    <img src="../../../assets/saharni writing.png">
    <p></p>
  </div>
<div class="jumbotron d-flex align-items-center overlay">
    <div class="rectangle-1"></div>
    <div class="rectangle-2"></div>
    <div class="rectangle-transparent-1"></div>
    <div class="rectangle-transparent-2"></div>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-3"></div>
    <div class="triangle triangle-1">
        <img src="assets/img/obj_triangle.png" alt="">
    </div>
    <div class="triangle triangle-2">
        <img src="assets/img/obj_triangle.png" alt="">
    </div>
    <div class="triangle triangle-3">
        <img src="assets/img/obj_triangle.png" alt="">
    </div>
    <div class="triangle triangle-4">
        <img src="assets/img/obj_triangle.png" alt="">
    </div>
  </div>
<app-parties></app-parties>
<app-clients></app-clients>
<app-team></app-team>