<nav id="header-navbar" class="navbar navbar-expand-lg py-4">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center text-white" href="/">
            <h3 class="font-weight-bolder mb-0"><img src="../../../assets/LogoSansEcriture.png"></h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header" aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-header">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button class="nav-link" href="/">Home</button>
                </li>
                <li class="nav-item" *ngIf="!user">
                    <button class="nav-link" (click)="open(registerModal)">Register</button>
                </li>
                <li class="nav-item" *ngIf="user">
                  <button class="nav-link" (click)="gotoProfile()">{{user.firstName}} {{user.lastName}}</button>
                </li>
                <li class="nav-item" *ngIf="!user">
                    <button class="nav-link" (click)="open(loginModal)">Sign in</button>
                </li>
                <li class="nav-item" *ngIf="user">
                  <button class="nav-link" (click)="logout()">Logout</button>
              </li>
               
            </ul>
        </div>
    </div>
</nav>

    <ng-template class="modal" #loginModal let-modal>
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-group" #signin="ngForm" (ngSubmit)="login(signin)">
            <h4 class="modal-title" id="modal-basic-title">Login</h4>
              <div class="field"> 
                  <label><i class="fas fa-envelope"></i> Email :</label>
                   <input class="form-control" name="email" placeholder="Email.." [ngClass]="{'is-invalid':  !email.valid && email.touched}"
                   required
                   email
                   ngModel
                   #email="ngModel">
                 <div class="invalid-feedback" *ngIf="!email.valid && email.touched">Please enter a valid email !</div>
             </div>
    <div class="field">
          <label> <i class="fas fa-key"></i>Password :</label>
      <input type="password"  class="form-control" name="password" placeholder="Password.." [ngClass]="{'is-invalid':  !password.valid && password.touched}"
        required
        minlength=8
        #password="ngModel"
        ngModel>
        <div class="invalid-feedback" *ngIf="!password.valid && password.touched">Invalid Password !</div>
    </div>
           <a>Forgot password?</a>
          <button type="submit" class="submit btn btn-primary" [disabled]="!password.valid || !email.valid">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
            <span *ngIf="!loading">Sign In</span>
          </button>
          </form>
        </div>
      </ng-template>



      <ng-template class="modal" #registerModal let-modal>
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">

          <form class="form-group" #signup="ngForm" (ngSubmit)="register(signup)">
            <h4 class="modal-title" id="modal-basic-title">Register :</h4>
            <div class="field"> 
                <label><i class="fas fa-address-card"></i> First Name :</label>
                 <input class="form-control" name="fname" placeholder="First name.." [ngClass]="{'is-invalid':  !fname.valid && fname.touched}"
                 required
                 ngModel
                 #fname="ngModel">
               <div class="invalid-feedback" *ngIf="!fname.valid && fname.touched">Please enter a valid First Name !</div>
           </div>
           <div class="field"> 
            <label><i class="fas fa-id-card-alt"></i> Last Name :</label>
             <input class="form-control" name="lname" placeholder="Last name.." [ngClass]="{'is-invalid':  !lname.valid && lname.touched}"
             required
             ngModel
             #lname="ngModel">
           <div class="invalid-feedback" *ngIf="!lname.valid && lname.touched">Please enter a valid Last Name !</div>
       </div>
              <div class="field"> 
                  <label><i class="fas fa-envelope"></i> Email :</label>
                   <input class="form-control" name="email" placeholder="Email.." [ngClass]="{'is-invalid':  !email.valid && email.touched}"
                   required
                   email
                   ngModel
                   #email="ngModel">
                 <div class="invalid-feedback" *ngIf="!email.valid && email.touched">Please enter a valid email !</div>
             </div>
      <div class="field">
          <label> <i class="fas fa-key"></i>Password :</label>
        <input type="password"  class="form-control" name="password" placeholder="Password.." [ngClass]="{'is-invalid':  !password.valid && password.touched}"
        required
        minlength=8
        #password="ngModel"
        ngModel>
        <div class="invalid-feedback" *ngIf="!password.valid && password.touched">Invalid Password !</div>
      </div>
      <div class="field">
        <label> <i class="fas fa-check"></i>Confirm Password :</label>
          <input type="password"  class="form-control" name="confirm" placeholder="Confirm password.." [ngClass]="{'is-invalid':  (!confirm.valid && confirm.touched) || (confirm.value != password.value && confirm.touched)}"
          required
          minlength=8
          #confirm="ngModel"
          ngModel>
        <div class="invalid-feedback"
        *ngIf="(!confirm.valid && confirm.touched) || (confirm.value != password.value && confirm.touched)">
        Passwords don't match !</div>
    </div>
      <button type="submit" class="submit btn btn-primary" 
      [disabled]="!password.valid || !email.valid || !lname.valid || !fname.valid || !confirm.valid"
      >
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
      <span *ngIf="!loading">Sign In</span>
       </button>
          </form>
        </div>
  